<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADL Real Estate</title>

    <link rel="stylesheet" href="../css/estilos.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>


<body>

    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1>ADL Real estate</h1>
            </div>
            <ul>
                <li><a href="../../Real_estate.html">Home</a></li>
                <li><a href="./forSale.html">For Sale:</a></li>
            </ul>
        </nav>

        <div class="hero-banner">
            <p>Find your new property</p>
        </div>
    </header>

    <main>

        <section>

            <h2>Propieties for rent:</h2>
            <div class="container_for_rent"></div>
            <button type="button" class="view_rent_properties"><a href="../../Real_estate.html">Go Back Home</a></button>

        </section>

    </main>

    <script type="module" src="../js/buttons.js"></script>
    <script type="module" src="../js/for_rent.js"></script>
    
</body>
</html>